<div class="navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/news">News</a></li>
        <li><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/getting-started">Getting Started</a></li>
        <li><a href="{{ site.baseurl }}/download">Download</a></li>
        <li><a href="{{ site.baseurl }}/communication">Communication</a></li>
        <li><a href="{{ site.baseurl }}/presentations">Presentations</a></li>
        <li><a href="{{ site.baseurl }}/user-cases">Use Cases</a></li>
    </ul>
</div>